
.pratique {
    max-width: 800px;
    margin: 15px auto;
    padding: 3px;
    background-color: var(--couleur-texte-clair);
    border-radius: 10px;                        /* Coins arrondis */
    box-shadow: 0 8px 16px var(--couleur-bordure);  /* Ombre  */
    font-family: var(--font-principale);
    color: var(--couleur-texte-dark);
    line-height: 1.5;
    text-align: center;
}

.pratique h1 {
    font-size:2.5em;
    color: var(--couleur-principale);
    margin : 5px auto 0px auto;
}

.section {
    margin-top: 5px;
    text-align: left;
}

.section h2 {
    font-size: 1.8em;
    color: var(--couleur-texte-secondaire);
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.section p {
    font-size: 1.2em;
    margin: 8px 0;
    text-align: center;
}
.tarif {
    background-color: var(--couleur-fond-infosPratique);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.jour {
    background-color: var(--couleur-fond-infosPratique);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.jour p {
    margin: 5px 0;
    color: var(--couleur-texte-fonce);
    text-align: center;
}

.localisation{
    background-color: var(--couleur-fond-infosPratique);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.localisation p{
    margin: 5px 0;
    color: var(--couleur-texte-fonce);
    text-align: center;
}