.mention{
    margin-bottom: 50px;
}
.mention h1{
    text-align: center;
    font-family: var(--font-principale);
    color: var(--couleur-principale);
}
.mention h2{
    text-align: center;
    font-family: var(--font-principale);
    font-weight: bold;
    color: var(--couleur-principale);
}
.mention p{
    text-align: center;
    font-family: var(--font-principale);
}
